<form action='login' method="POST">
    <div>
        用户名：<input type="text" id="userName" name="userName" />
        邮箱：<input type="email" id="useremail" name="useremail" />
        密码：<input type="password" id="userPwd" name="userPwd" />
        <input type="submit" value="提交">
    </div>
</form>
<%-  include message %>
<span><a title="注册" href="/signup">signup</a></span>

