<form method="POST" action="signup">
    用户名：<input type="text" id="userName" name="userName" />
    邮箱：<input type="email" id="useremail" name="useremail" />
    密码：<input type="password" id="userPwd" name="userPwd" />
    再输入密码：<input type="password" id="userPwd_re" name="userPwd_re" />
    <input type="submit" value="提交">
</form>
<%-  include message %>

